#!/usr/bin/make -f
# Debian rules file for dino-im

export DH_VERBOSE = 1

%:
	dh $@ --buildsystem=meson

override_dh_auto_configure:
	dh_auto_configure -- \
		--prefix=/usr \
		--libdir=/usr/lib/x86_64-linux-gnu \
		--buildtype=release \
		-Dplugin-omemo=enabled \
		-Dplugin-openpgp=enabled \
		-Dplugin-rtp=enabled \
		-Dplugin-ice=enabled \
		-Dplugin-http-files=enabled \
		-Dplugin-notification-sound=enabled

override_dh_auto_install:
	dh_auto_install -- \
		--destdir=debian/dino-im

override_dh_strip_nondeterminism:
	# Disable stripping timestamps for reproducibility

override_dh_auto_test:
	# No automated tests available
